.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }
}

@media only screen and (max-width: 806px) {
  .container {
    max-width: 550px;
  }

  header {
    background-color: #802392;
    width: 900px;
  }

  .note {
    width: 300px;
  }

  .col-2-second {
    margin-left: 70px;
  }

  .col-2 input {
    width: 300px;
  }

  .header-font {
    display: flex;
    width: 135px;
  }

  .image-list {
    min-width: 350px;
    max-height: 350px;
    margin: auto;
  }

  .margin-text-entry {
    width: 700px;
  }

  .text-paragraph {
    width: 350px;
  }

  .margin-left {
    margin-left: 70px;
  }

  .button-save {
    margin-right: 300px;
  }
}
