.container {
  max-width: 800px;
  margin: auto;
}

.row {
  display: flex;
}

.first-line {
  display: flex;
  background-color: #802392;
  width: 100%;
  color: white;
}

.head {
  flex-basis: 50%;
  font-size: 16px;
  justify-content: flex-end;
}

.header {
  display: flex;
  margin-right: 145px;
}

.header-font {
  margin-right: 30px;
}

.col-2 {
  flex-basis: 50%;
}

.col-3 {
  flex-basis: calc(100%/2.5);
}

.col-2-second {
  display: flex;
  flex-direction: column;
}

.image {
  width: 300px;
  margin-left: 70px;
}

form h2 {
  margin-left: 70px;
}

input {
  width: 350px;
  height: 28px;
}

label {
  margin-bottom: 10px;
  margin-top: 18px;
}

.col-1 {
  flex-direction: column;
  margin-left: 70px;
}

textarea {
  width: 680px;
}

button {
  background-color: #802392;
  color: white;
  width: 100px;
  height: 30px;
  margin: 10px;
  border-radius: 5px;
  border: #802392;
  align-self: flex-end;
  margin-right: 50px;
}

.margin-left {
  margin-left: 70px;
}

.margin-button {
  position: relative;
  left: 450px;
  bottom: 10px;
}

.text-center {
  text-align: center;
}

.head a {
  text-decoration: none;
  color: white;
  margin-top: 15px;
}

.entry {
  list-style: none;
  margin-bottom: 1rem;
}

.entry-link {
  padding-top: 1px;
}

.image-list {
  margin-left: 30px;
  width: 300px;
  height: 300px;
  object-fit: fill;
}

.text-content {
  width: 300px;
  margin-left: 20px;
}

  width: 200px;
  object-fit: fill;
}

.margin-text-entry {
  margin-left: 30px;
}

.space-around {
  display: flex;
  justify-content: space-between;
}

.edit-icon {
  color: #802392;
  display: flex;
  align-items: center;
}

.obj-fit {
  object-fit: scale-down;
}

@media only screen and (max-width: 700px) {
  .margin-button {
    position: relative;
    left: 40%;
  }

  header {
    background-color: #802392;
    width: 700px;
  }

  textarea {
    width: 300px;
  }

  .col-2-second {
    margin-left: 70px;
  }

  .col-2 input {
    width: 300px;
  }

  .header-font {
    display: flex;
    margin-left: 94px;
    width: 90px;
  }

  .image-list {
    min-width: 350px;
    max-height: 350px;
    margin: auto;
  }

  .margin-text-entry {
    flex-basis: 90%;
    margin: auto;
  }
}
