.margin-button {
  position: relative;
  left: 450px;
  bottom: 10px;
}

.container {
  max-width: 800px;
  margin: auto;
}

.row {
  display: flex;
}

.first-line {
  display: flex;
  background-color: #802392;
  width: 100%;
  color: white;
}

.head {
  flex-basis: 50%;
  font-size: 16px;
  justify-content: flex-end;
}

.header {
  display: flex;
  margin-right: 145px;
}

.header-font {
  margin-right: 30px;
}

.col-2 {
  flex-basis: 50%;
}

.col-3 {
  flex-basis: calc(100%/2.5);
}

.col-2-second {
  display: flex;
  flex-direction: column;
}

.image {
  width: 300px;
  margin-left: 70px;
}

form h2 {
  margin-left: 70px;
}

input {
  width: 350px;
  height: 28px;
}

label {
  margin-bottom: 10px;
  margin-top: 18px;
}

.col-1 {
  flex-direction: column;
  margin-left: 70px;
}

textarea {
  width: 680px;
}

button {
  background-color: #802392;
  color: white;
  width: 100px;
  height: 30px;
  margin: 10px;
  border-radius: 5px;
  border: #802392;
  align-self: flex-end;
  margin-right: 50px;
}

.delete {
  margin-top: 15px;
  color: red;
}

.visitibility-hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.margin-left {
  margin-left: 70px;
}

.head a {
  text-decoration: none;
  color: white;
  margin-top: 15px;
}

.entry {
  list-style: none;
  margin-bottom: 1rem;
}

.entry-link {
  padding-top: 1px;
}

.image-list {
  margin-left: 30px;
  width: 300px;
  height: 300px;
  object-fit: fill;
}

.text-content {
  width: 300px;
  margin-left: 20px;
}

.margin-text-entry {
  margin-left: 30px;
}

.space-around {
  display: flex;
  justify-content: space-between;
}

.edit-icon {
  color: #802392;
  display: flex;
  align-items: center;
}

.obj-fit {
  object-fit: scale-down;
}

.modal {
  position: fixed;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  height: 150px;
  width: 400px;
  border-radius: 5px;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.orange {
  background-color: orangered;
  color: white;
}

.gray {
  background-color: lightgray;
  color: black;
}
